.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-card-content {
    flex-grow: 1;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 16px;
  }
}
